.page.theme_light {
  --accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --title-color: #353430;
  --text-color: #353430;
  --main-title-color: #ffc2e6;
  --button-color: #353430;
  --button-hover-border-color: #35343066;
  --header-decoration-display: none;
  --bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
    --title-color: #353430;
    --text-color: #353430;
    --main-title-color: #ffc2e6;
    --button-color: #353430;
    --button-hover-border-color: #35343066;
    --header-decoration-display: none;
    --bg-color: #fff1f7;
  }
}
