.page {
  font-family: var(--page-font);
  font-size: 18px;
  font-weight: 400;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  grid-template-rows: 2fr 1fr 2fr;
}

.decorated-zone {
  display: grid;
  position: relative;
  min-block-size: 100vh;
  padding-block-start: var(--page-padding);
  padding-block-end: var(--page-padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--button-color);
  border-block-end: 1px solid var(--button-color);
  inset-block-start: calc(100% - var(--page-padding) + 1px);
  inset-inline-start: calc(var(--page-padding));
  transform: translate(0%, -100%);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
  inset-block-start: calc(var(--page-padding) + 1px);
  inset-inline-start: calc(100% - var(--page-padding));
  transform: translate(-100%, 0%);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 71px);
  justify-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--button-color);
  padding-inline: 12.5px;
  padding-block: 1px 4px;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  cursor: pointer;
  border: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--button-color);
}

.header__title {
  position: relative;
  align-self: center;
  inset-inline-end: 20px;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__caption {
  margin-inline-start: 50%;
  margin-block-start: 106px;
  justify-self: end;
  block-size: fit-content;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 23.4px;
}

.header__decoration {
  display: var(--header-decoration-display);
  position: absolute;
  align-items: center;
  gap: 10px;
  padding-inline-end: 9px;
  color: var(--accent-color);
  line-height: 25px;
  inset-block-start: calc(var(--page-padding) + 1px);
  inset-inline-start: calc(100% - var(--page-padding));
  transform: translate(-100%, 0%);
}

.header__decoration::before {
  content: "REC";
}

.header__decoration::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 2px 2px var(--accent-color);
}

.main {
  margin-block-start: 60px;
  display: grid;
  row-gap: 80px;
}

.topic {
  display: grid;
  row-gap: 20px;
  column-gap: 9px;
}

.topic__list {
  display: grid;
  gap: 20px;
}

.why {
  grid-template-columns: 1fr 2fr;
}

.what {
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 2fr;
}

.what .topic__list {
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
}

.how {
  grid-template-columns: 1fr 2fr;
}

.how__list-title {
  margin-bottom: 20px;
}

.topic__title {
  color: var(--button-color);
  font-weight: 700;
  line-height: 23.4px;
}

.topic__item-text {
  color: var(--text-color);
  line-height: 23.4px;
}

.topic__item-title {
  margin-block-end: 10px;
}

.how .topic__item-title {
  font-weight: 400;
}

.topic__item-text__link {
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.topic__item-text__link:hover {
  border-block-end: 1px solid var(--text-color);
  margin-block-end: -1px;
}

.topic__item-text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery__image-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.gallery__image-item:first-child {
  grid-column: span 2;
}

.gallery__image-item:nth-child(2) {
  grid-row: span 2;
}

.gallery__image-item:nth-child(3) {
  grid-row: span 2;
}

.gallery__image-item:last-child {
  grid-column: span 2;
}

.footer {
  margin-block-start: 60px;
}

.footer__title {
  margin: auto;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 1024px) {
  .header__title,
  .footer__title {
    --accent-color: #ff0070;
  }
}

@media (width < 1024px) {
  .header__theme-menu {
    justify-self: end;
    margin-block-start: 50px;
    align-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 26px);
  }

  .header__title {
    margin-block-start: 2px;
    align-self: center;
  }

  .header__caption {
    margin-block-start: 115px;
  }

  .topic {
    column-gap: 20px;
  }

  .what .topic__list {
    grid-template-columns: auto;
  }

  .footer {
    min-block-size: 100vh;
  }
}

@media (width < 768px) {
  :root {
    --page-padding: 10px;
  }

  .header {
    grid-template-rows: repeat(3, 1fr);
  }

  .header__theme-menu {
    margin-block-start: 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    position: initial;
  }

  .header__caption {
    margin-block-start: 43px;
    margin-inline-start: 0;
    justify-self: start;
  }

  .main {
    margin-block-start: 40px;
    row-gap: 50px;
  }

  .topic {
    grid-template-columns: auto;
  }

  .what {
    grid-template-columns: 1fr;
  }

  .gallery {
    row-gap: 10px;
  }

  .gallery__image-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 0;
    row-gap: 10px;
  }

  .gallery__image-item {
    grid-row: initial !important;
    grid-column: initial !important;
  }

  .footer {
    margin-block-start: 40px;
    min-block-size: 100vh;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
