/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
  --title-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --main-title-shadow-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-border-color: #FF007066;
  --header-decoration-display: initial;
}
